@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 1240px;
    font-size: 13px;
}

.container {
    max-width: 1240px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.ads > h2 {
    font-size: 2.5rem;
    color: hsl(300, 43%, 22%);
    width: 300px;
    font-weight: bold;
    line-height: 2.5rem;
}

.ads > p {
    font-size: 0.8rem;
    padding: 1rem 0;
    width: 400px;
    line-height: 1.5rem;
    font-size: medium;
    color: hsl(303, 10%, 53%);
}

.ads-ratings {
    width: 1240px;
    display: flex;
    justify-content: space-around;
}

.ratings {
    font-weight: bold;
    color: hsl(300, 43%, 22%);
}

.rating-1 {
    width: 400px;
    background: #eedbee;
   
    border-radius: 4px;
    margin-top: 1.5rem;
    padding: 0.8rem;
}

.rating-2 {
    width: 400px;
    background: #eedbee;
    
    border-radius: 4px;
    padding: 0.8rem;
    margin-top: 1.5rem;
    margin-left: 35px;
}

.rating-3 {
    width: 400px;
    background: #eedbee;
    border-radius: 4px;
    padding: 0.8rem;
    margin-left: 70px;
    margin-top: 1.5rem;
}

.checked {
    color: orange;
}

.review-cards {
    width: 1240px;
    display: flex;
    gap: 35px;
    padding: 1rem 5rem;
}

.card {
    
    background: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding: 1.5rem;

}

.card-header {
    display: flex;
    align-items: center;
}

img {
    border-radius: 50px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.name {
    font-size: 13px;
}

.role {
    color: hsl(333, 80%, 67%);
    font-size: 12px;
}

.review {
    padding: 1rem;
    margin-top: 0;
}

.colton {
    height: 200px;
}

.irene {
    height: 200px;
    margin-top: 20px;
}

.anne {
    height: 200px;
    margin-top: 40px;
}

@media screen and (max-width: 791px) {
    
    body {
        font-size: 10px;
        width: 20rem;
        border: 1px solid red;
    }

    .ads-ratings {
        width: 20rem;
        border: 1px solid red;
        
        display: flex;
        flex-direction: column;
    }

    .ads {
        width: 18rem;
        text-align: center;
    }

    .ads > h2 {
        width: 18rem;
        margin: 1rem;
    }
    
    .ads > p {
        width: 20rem;
    }

    .rating-1 {
        padding: 2rem;
        width: 18rem;
    }
    
    .rating-2 {
        width: 18rem;
        margin-left: 0px;
        padding: 2rem;
    }
    
    .rating-3 {
        width: 18rem;
        padding: 2rem;
        margin-left: 0px;
        margin-bottom: 1rem;
    }

    .review-cards {
        width: 20rem;
        padding: 0;
        border: 1px solid blue;
        flex-direction: column;
    }

    .colton {
        width: 18rem;
        height: 10rem;
        margin-top: 1rem;
    }
    
    .irene {
        width: 18rem;
        height: 10rem;
        margin-top: 1rem;
    }
    
    .anne {
        margin-top: 1rem;
        width: 18rem;
        height: 10rem;
        justify-content: center;
        align-items: center;
    }

}