@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 1240px;
    font-size: 13px;
}

.container {
    width: 1040px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.ads > h2 {
    font-size: 2.5rem;
    color: hsl(300, 43%, 22%);
    width: 300px;
    font-weight: bold;
    line-height: 2.5rem;
}

.ads > p {
    font-size: 0.8rem;
    width: 400px;
    font-size: medium;
    color: hsl(303, 10%, 53%);
}

.ads-ratings {
    width: 1240px;
    display: flex;
    justify-content: space-around;
}

.ratings {
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.rating-1 {
    width: 400px;
    background: #eedbee;
    color: hsl(300, 43%, 22%);
    border-radius: 4px;
    margin-top: 3rem;
    padding: 0.8rem;
}

.rating-2 {
    width: 400px;
    background: #eedbee;
    color: hsl(300, 43%, 22%);
    border-radius: 4px;
    padding: 0.8rem;
    margin-left: 35px;
}

.rating-3 {
    width: 400px;
    background: #eedbee;
    color: hsl(300, 43%, 22%);
    border-radius: 4px;
    padding: 0.8rem;
    margin-left: 70px;
}

.checked {
    color: orange;
}

.review-cards {
    width: 1240px;
    display: flex;
    gap: 35px;
    padding: 1rem 5rem;
}

.card {
    background: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding: 1.5rem;
}

.card-header {
    display: flex;
    align-items: center;
}

img {
    border-radius: 50px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.name {
    font-size: 13px;
}

.role {
    color: hsl(333, 80%, 67%);
    font-size: 12px;
}

.review {
    padding: 1rem;
    margin-top: 0;
}

.colton {
    height: 200px;
}

.irene {
    height: 200px;
    margin-top: 20px;
}

.anne {
    height: 200px;
    margin-top: 40px;
}



@media (max-width: 375px) {

    .ads-ratings {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .ads > h2 {
        text-align: center;
        margin-left: 3rem;
    }

    .ads > p {
        text-align: center;
    }

    .rating-1 {
        padding: 0.8rem;
    }
    
    .rating-2 {
        padding: 0.8rem;
        margin-left: 0;
    }
    
    .rating-3 {
        padding: 0.8rem;
        margin-left: 0;
    }

    .review-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        align-items: center;
    }

    .colton {
        width: 350px;
        margin-top: 20px;
    }

    .irene {
        width: 350px;
    }

    .anne {
        width: 350px;
        margin: 20px 0px;
    }
}